# Firebase
NUXT_PUBLIC_VUEFIRE_CONFIG_API_KEY=
NUXT_PUBLIC_VUEFIRE_CONFIG_AUTH_DOMAIN=
NUXT_PUBLIC_VUEFIRE_CONFIG_PROJECT_ID=
NUXT_PUBLIC_VUEFIRE_CONFIG_STORAGE_BUCKET=
NUXT_PUBLIC_VUEFIRE_CONFIG_APP_ID=

# App Check
NUXT_PUBLIC_VUEFIRE_APP_CHECK_KEY=

# Analytics
NUXT_PUBLIC_VUEFIRE_CONFIG_MEASUREMENT_ID=

# SEO
NUXT_PUBLIC_SITE_URL=
NUXT_PUBLIC_SITE_NAME=
NUXT_PUBLIC_SITE_ENV=