/**
 * Override Colorffy CSS variables
 */
$rounded-none: 0;
$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 12px;
$rounded-xl: 25px;
$rounded-xxl: 35px;

@forward '@colorffy/css/scss/abstracts/variables' with (
    /** Overrides primaries colors and gradients */
    $primary: #002662,
    $secondary: #22cbff,
    $accent: #ff5622,

    /** Extra overrides */
    $card-border-radius: $rounded-sm,
    $form-border-radius: $rounded-sm,
    $button-border-radius: $rounded-sm
  );